.App {
  background-color: #282c34;
  text-align: center;
  color: white;
  min-height: 100vh;
}

.form-search {
  margin-top: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card {
  margin-bottom: 20px;
}

.text-small {
  font-size: 12px;
}

.text-left {
  text-align: left;
}

.weather p {
  margin-bottom: 10px;
}

.weather img {
  width: 60px;
}

.links ul {
  display: table;
}

.links li {
  display: inline-table;
  list-style: none;
  width: 60px;
  overflow-x: hidden;
  margin: 10px 5px;
}

.links li a {
  text-decoration: none;
}

.links li a i {
  display: block;
}

.links li a span {
  display: block;
  margin-top: 15px;
  color: rgb(33, 37, 41);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
