.App {
  /* background-color: #282c34; */
  text-align: center;

  min-height: 80vh;
}

.ml-auto {
  margin-left: auto;
}

.float-right {
  float: right;
}

@media (min-width: 768px) {
  .more-info {
    width: 40% !important;
  }
}

.escala .item {
  margin: 1px;
}

.form-search {
  margin: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card {
  margin-bottom: 20px;
}

.text-small {
  font-size: 12px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.weather p {
  margin-bottom: 10px;
}

.weather img {
  width: 60px;
}

.links ul {
  display: table;
}

.links li {
  display: inline-table;
  list-style: none;
  width: 60px;
  overflow-x: hidden;
  margin: 10px 5px;
}

.links li a {
  text-decoration: none;
}

.links li a i {
  display: block;
}

.links li a span {
  display: block;
  margin-top: 15px;
  color: var(--bs-body-color);
  /* color: rgb(33, 37, 41); */
}

.btn-toogle {
  align-items: center;
  border-radius: 50%;
  display: flex;

  justify-content: center;
  transition: background var(--ifm-transition-fast);
}

.btn-toogle:hover {
  background: var(--ifm-color-emphasis-500);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
